node_modules
bower_components
.idea/blade.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/e67f6051-f9f7-4871-8de7-799d88256c4d.xml
.idea/deployment.xml
.idea/dictionaries/AURELIANO.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/jsLibraryMappings.xml
.idea/modules.xml
.idea/organizza_estudio.iml
.idea/php.xml
.idea/phpspec.xml
.idea/sqldialects.xml
.idea/vagrant.xml
.idea/vcs.xml
.idea/webResources.xml
.idea/webServers.xml
.idea/workspace.xml
